extends ../layouts/app.pug

append styles
  link(rel="stylesheet" href="/styles/detail.css")

append scripts
  script(src="/scripts/tripDetail.js")

block content
  .detail-content
  div.container
    h3.page-title Trip detail
    p.field-title Origin
    p.field-value= tripWithStops.origin
    p.field-title Seats
    p.field-value= tripWithStops.seats
    p.field-title Departing On
    p.field-value= new Date(tripWithStops.departingOn).toLocaleString()
    p.field-title Trip Status
    p.field-value= tripWithStops.status
    if (!!nextStatus)
      p(
        id= "update-trip-status"
        class= "field-value table-cell-action",
        tid= tripWithStops.tid,
        status= nextStatus,
        origin= tripWithStops.origin,
        seats= tripWithStops.seats,
        departingOn= tripWithStops.departingOn
      )= "update trip status to: " + nextStatus

    div
      h5.section-tile Stops
      table.table.table-hover.table-bordered.table-striped#stop-table
        thead.thead-light
          th Destination
          th Min. Price
          //- th Action
        each stop in tripWithStops.stops
          tr
            td= stop.address
            td= stop.minPrice
    div
      h5.section-title Bids
      table.table.table-hover.table-bordered.table-striped#bid-table
        thead.thead-light
          th Destination
          th Min. Price
          th Customer Price
          th Bid Status
          th Action
          th Score
          th Review
        tbody
          if !!bidsWithStopsAndCustomerAndReview
            each bid in bidsWithStopsAndCustomerAndReview
              tr
                td= bid.stop.address
                td= bid.stop.minPrice
                td= bid.value
                td= (bid.status === "pending" && tripWithStops.status !== "created") ? "failed" : bid.status
                td(
                    name= "accept-bid-action",
                    class= "table-cell-action",
                    tid= bid.tid,
                    address= bid.address,
                    email= bid.email
                )= bid.status === 'pending' && tripWithStops.status === "created" ? "Accept" : ""
                td= bid.review.score
                td= bid.review.content
