extends base.pug

append scripts
  script(src="/scripts/app.js")

append styles
  link(rel="stylesheet" href="/styles/app.css")

block body
  div(class="container-fluid vh-100")
    div(class="row h-100")
      div(class="app-sidebar col-md-2 py-2")
          div(class="d-flex flex-column justify-content-between h-100")
            nav(class="nav nav-pills flex-column")
              a(
                class="nav-link" + (title === "Browse" ? " active" : "")
                href="/p/browse"
              ) Browse
              a(
                class="nav-link" + (title === "Bids" ? " active" : "")
                href="/p/bids"
              ) Manage bids
              if isDriver
                a(
                  class="nav-link" + (title === "Trips" ? " active" : "")
                  href="/p/trips"
                ) Manage trips
                a(
                  class="nav-link" + (title === "Cars" ? " active" : "")
                  href="/p/cars"
                ) Manage cars
              a(
                class="nav-link" + (title === "Bookmarks" ? " active" : "")
                href="/p/bookmarks"
              ) Manage bookmarks
              a(
                class="nav-link" + (title === "Account" ? " active" : "")
                href="/p/account"
              ) Account settings
            .app-sidebar-controls
              if !isDriver
                button(
                  id="driver-signup-button"
                  class="btn btn-secondary"
                ) Be a driver!
              else
                a(
                  class="btn btn-primary"
                  href="/p/trips/new"
                  role="button"
                ) New trip
              button(id="logout-button" class="btn btn-danger") Log out
      div(class="app-content col-md-10")
        block content
