extends layouts/app.pug

append styles 
  link(rel="stylesheet" href="/styles/browse.css")

append scripts
  script(src="/bids.js")

block content
  .browser-container
    form(id="browse-filter-form" class="my-1")
      div(class="d-flex flex-row")
        input(
          class="form-control flex-grow-1"
          type="text"
          name="address"
          value=(query.address || "")
          placeholder="Search stop address"
        )
        button(
          id="browse-filter-button"
          class="ml-1 btn btn-primary flex-shrink-0" 
          type="submit"
        ) Search
        //- button(class="ml-1 btn btn-secondary flex-shrink-0") More filters
      
    table(class="table table-hover table-bordered table-striped")
      thead
        th Origin
        th Bid Status
        th #Seats
        th Departing on
      tbody
        if !!bidsWithTrip
          each bid in bidsWithTrip 
            tr(
              name= "bid-row",
              id= bid.tid,
              class= "table-link-row"
            )
              td= bid.trip.origin
              td= bid.status
              td= bid.trip.seats
              td= bid.trip.departingOn
            
