extends layouts/app.pug

append scripts
  script(src="/bookmarks.js")

append styles
  link(rel="stylesheet" href="/bookmarks.css")

block content
  .bookmarks-container
    div(class="d-flex my-1")
      form(id="bookmarks-filter-form" class="flex-grow-1")
        div(class="d-flex flex-row")
          input(
            class="form-control flex-grow-1"
            type="text"
            name="name"
            value=(query.name || "")
            placeholder="Search bookmark name"
          )
          button(
            id="bookmarks-filter-button"
            class="ml-1 btn btn-primary flex-shrink-0" 
            type="submit"
          ) Search
          //- button(class="ml-1 btn btn-secondary flex-shrink-0") More filters
      a(
        id="bookmarks-add-button"
        class="ml-1 btn btn-primary flex-shrink-0"
        href="/p/bookmarks/new"
      ) New bookmark

    table(class="table table-hover table-bordered table-striped")
      thead
        th Name
        th Address
        th
      tbody
        each bookmark in bookmarks 
          tr
            td= bookmark.name
            td= bookmark.address
            td
              a(
                href="/p/bookmarks/" + encodeURIComponent(bookmark.name) + "/delete"
                class="bookmarks-delete-button"
                for-name=bookmark.name
              ) Delete
              a(
                href="/p/bookmarks/" + encodeURIComponent(bookmark.name) + "/update"
              ) Update
