extends layouts/appTable.pug

block header
  form(id="browse-filter-form" class="my-1")
    div(class="d-flex flex-row")
      input(
        class="form-control flex-grow-1"
        type="text"
        name="search"
        value=search
        placeholder="Search for origin or stops"
      )
      button(
        id="browse-filter-button"
        class="ml-1 btn btn-primary flex-shrink-0" 
        type="submit"
      ) Search

block table
  table(class="table table-hover table-bordered table-striped")
    thead
      th Origin
      th Stops
      th #Seats
      th Departing on 
    tbody
      each tripWithStops in tripsWithStops 
        tr
          td= tripWithStops.origin
          td= tripWithStops.stops.map(stop => stop.address).join(", ")
          td= tripWithStops.seats
          td= tripWithStops.departingOn
