extends layouts/app.pug

append styles
  link(rel="stylesheet" href="/detail.css")

block content
  .detail-content
  div.container
    h3.page-title Bidding
    div.row
      div.col-md
        img(
          class="user-profile-photo"
          src='https://avatars2.githubusercontent.com/u/46835051?s=460&v=4'
          alt="User profile photo"
        )
        div.field-inline-container
          p.field-title-inline Driver Name:
          p.field-value-inline= driver.name
        div.field-inline-container
          p.field-title-inline Driver Rating: 
          p.field-value-inline 5
      div.col-md
        p.field-title Origin
        p.field-value= tripWithStops.origin
        p.field-title Seats
        p.field-value= tripWithStops.seats
        p.field-title Departing On
        p.field-value= tripWithStops.departing_on
        p.field-title Trip Status
        p.field-value= tripWithStops.status
    div
      h5.section-title Stops
      table.table.table-hover.table-bordered.table-striped
        thead.thead-light
          th Destination
          th Min. Price
          th Action
          th Status
          th Your Price
        tbody
          each stop in tripWithStops.stops
            tr
              td= stop.address
              td= stop.min_price
              td= bidMapWithStop[stop.address] ? "Cancel" : "Bid"
              td= bidMapWithStop[stop.address] ? bidMapWithStop[stop.address].status : ""
              td= bidMapWithStop[stop.address] ? bidMapWithStop[stop.address].value : ""
    if(wonBid)
      div
        h5.section-title Review
        textarea(name="bid-review", rows="10",
        placeholder="Please enter your review here").review-text-area
