extends layouts/app.pug

append styles
  link(rel="stylesheet" href="/detail.css")

append scripts
  script(src="/detailTrip.js")

block content
  .detail-content
  div.container
    h3.page-title Bidding
    div.row
      div.col-md
        p placeholder for some interesting query stuff
      div.col-md
        p.field-title Origin
        p.field-value= tripWithStops.origin
        p.field-title Seats
        p.field-value= tripWithStops.seats
        p.field-title Departing On
        p.field-value= tripWithStops.departingOn
        p.field-title Trip Status
        p.field-value= tripWithStops.status
    div
      h5.section-tile Stops
      table.table.table-hover.table-bordered.table-striped#stop-table
        thead.thead-light
          th Destination
          th Min. Price
          th Action
        each stop in tripWithStops.stops
          tr
            td= stop.address
            td
              input(
                id= "stop-update-input-" + stop.address,
                disabled= tripWithStops.status !== 'created',
                value= stop.min_price
              )
            td(
              name= "update-stop-action",
              class= "table-cell-action",
              address= stop.address,
              tid = tripWithStops.tid
            )= tripWithStops.status === 'created' ? "Update" : ""
    div
      h5.section-title Bids
      table.table.table-hover.table-bordered.table-striped#bid-table
        thead.thead-light
          th Destination
          th Min. Price
          th Customer Price
          th Bid Status
          th Action
          th Review
        tbody
          if !!bidsWithStopsAndCustomer
            each bid in bidsWithStopsAndCustomer
              tr
                td= bid.stop.address
                td= bid.stop.min_price
                td= bid.value
                td= bid.status
                td(
                    name= "accept-bid-action",
                    class= "table-cell-action",
                    tid= bid.tid,
                    address= bid.address,
                    email= bid.email
                  )= bid.status === 'pending' ? "Accept" : ""
                td Review
