extends layouts/appForm.pug

append scripts
  script(src="/newBookmark.js")

block form
  h4.mb-3 New bookmark
  form#new-bookmark-form
    .form-group
      label(for="bookmark-name") Bookmark name
      input(
        id="bookmark-name"
        class="form-control"
        name="name"
        type="text"
        placeholder="Enter bookmark name"
      )
    .form-group
      label(for="bookmark-address") Bookmark address
      input(
        id="bookmark-address"
        class="form-control"
        name="address"
        type="text"
        placeholder="Enter bookmark address"
      )
    .d-flex
      button(
        id="new-bookmark-button"
        class="btn btn-primary"
        type="submit"
      ) Create
      a(
        class="ml-2 btn btn-secondary"
        role="button"
        href="/p/bookmarks"
      ) Back
