extends ../layouts/appTable.pug

append scripts
  script(src="/scripts/bookmarks.js")

block header
  .d-flex
    form(id="bookmarks-filter-form" class="flex-grow-1")
      div(class="d-flex flex-row")
        input(
          class="form-control flex-grow-1"
          type="text"
          name="search"
          value=search
          placeholder="Search for name or address"
        )
        button(
          id="bookmarks-filter-button"
          class="ml-2 btn btn-primary flex-shrink-0" 
          type="submit"
        ) Search
    a(
      id="bookmarks-add-button"
      class="ml-2 btn btn-primary flex-shrink-0"
      href="/p/bookmarks/new"
    ) New bookmark

block table
  table(class="table table-hover table-bordered table-striped")
    thead
      th Name
      th Address
      th
    tbody
      each bookmark in bookmarks 
        tr
          td= bookmark.name
          td= bookmark.address
          td
            a(
              href="/p/bookmarks/" + encodeURIComponent(bookmark.name) + "/update"
            ) Update
            a(
              href="/p/bookmarks/" + encodeURIComponent(bookmark.name) + "/delete"
              class="bookmarks-delete-button ml-2"
              data-name=bookmark.name
            ) Delete
