extends ../layouts/app.pug

append styles
  link(rel="stylesheet" href="/styles/detail.css")

append scripts
  script(src="/scripts/bidDetail.js")

block content
  .detail-content
  div.container
    h3.page-title Bidding
    div.row
      div.col-md
        img(
          class="user-profile-photo"
          src= driver.profilePhotoUrl
          alt="User profile photo"
        )
        div.field-inline-container
          p.field-title-inline Driver Name:
          p.field-value-inline= driver.name
        div.field-inline-container
          p.field-title-inline Driver Rating: 
          p.field-value-inline= driverRating
      div.col-md
        p.field-title Origin
        p.field-value= tripWithStops.origin
        p.field-title Seats
        p.field-value= tripWithStops.seats
        p.field-title Departing On
        p.field-value= tripWithStops.departingOn
        p.field-title Trip Status
        p.field-value= tripWithStops.status
    div
      h5.section-title Stops
      table.table.table-hover.table-bordered.table-striped
        thead.thead-light
          th Destination
          th Min. Price
          th Action
          th Bid Status
          th Your Price
        tbody
          each stop in tripWithStops.stops
            tr
              td= stop.address
              td= stop.min_price
              td(
                name= "bid-action",
                class= "table-cell-action",
                tid= tripWithStops.tid,
                address= stop.address
                action= bidMapWithStop[stop.address] ? bidMapWithStop[stop.address].status === "pending" ? "Update" : "" : "Bid"
              )= bidMapWithStop[stop.address] ? bidMapWithStop[stop.address].status === "pending" ? "Update" : "" : "Bid"
              td= bidMapWithStop[stop.address] ? bidMapWithStop[stop.address].status : ""
              td
                input(
                  id= stop.address
                  hidden= !bidMapWithStop[stop.address]
                  disabled= !bidMapWithStop[stop.address] || bidMapWithStop[stop.address].status !== "pending"
                  value= bidMapWithStop[stop.address] ? bidMapWithStop[stop.address].value : ""
                )
    if(wonBidWithReview)
      div
        h5.section-title Review
        div.input-group.mb-3
          div.input-group-prepend
            label(
              class= "input-group-text",
              for= "score-select"
            ) Score
          select(
            class= "custom-select"
            id= "score-select",
            score= wonBidWithReview.review.score
          )
            option(
              selected= 5
            )
            option( value= 1 ) 1
            option( value= 2 ) 2
            option( value= 3 ) 3
            option( value= 4 ) 4
            option( value= 5 ) 5
        textarea(
          id= 'review-textarea'
          rows="5",
          placeholder="Please enter your review here",
          content= wonBidWithReview.review.content,
          tid= wonBidWithReview.tid
          action= wonBidWithReview.review.content ? 'Update' : 'Create'
        ).review-text-area
        button.btn.btn-light.update-review-btn=wonBidWithReview.review.content ? 'Update' : 'Create'
