extends layouts/bidForm.pug

append scripts
  script(src="/scripts/newBid.js")

block bidFormTitle
  h4.mb-3 New bid

block bidFormContent
  form#new-bid-form
    section.mb-3
      h5 Trip info
      .form-group
        label(for="trip-origin") Origin
        input(
          id="trip-origin"
          class="form-control"
          disabled
          value=tripWithDriver.origin
        )
      .form-group
        label(for="trip-departing-on") Departure time
        input(
          id="trip-departing-on"
          class="form-control"
          disabled
          value=new Date(tripWithDriver.departingOn).toLocaleString()
        )
    
    section.mb-3

    button(
      id="new-bid-button"
      class="btn btn-primary"
      type="submit"
    ) Place bid

