extends ../layouts/appForm.pug

append scripts
  script(src="/scripts/newCar.js")

block form
  h4.mb-3 New car
  form#new-car-form
    .form-group
      label(for="car-license") License
      input(
        id="car-license"
        class="form-control"
        name="license"
        type="text"
        placeholder="Enter license"
      )
    .form-group
      label(for="car-model") Model
      input(
        id="car-model"
        class="form-control"
        name="model"
        type="text"
        placeholder="Enter model"
      )
    .form-group
      label(for="car-seats") No. of seats
      input(
        id="car-seats"
        class="form-control"
        name="seats"
        type="number"
        placeholder="Enter no. of seats"
      )
    .form-group
      label(for="car-year") Year of manufacture
      input(
        id="car-year"
        class="form-control"
        name="manufacturedOn"
        type="number"
        placeholder="Enter year of manufacture"
      )
    .d-flex
      button(
        id="new-car-button"
        class="btn btn-primary"
        type="submit"
      ) Create
      a(
        class="ml-2 btn btn-secondary"
        role="button"
        href="/p/cars"
      ) Back
